## investigations
Conclusions on mods:

- Freddie data only flags mod on the month it occurs, Fannie keeps the flag for the duration of the mod.
- The mod_sticky_flg unifies the data: it is always Y after a mod
- Mods have significant prior dq

Conclusions on borr_asst_plan:

- Flags are sticky
- Can have multiple episodes of plans
- Some but not a lot of overlap with mods
- F: most were had at most months_dq=1
- R: most were 1+ months_dq prior, mostly used by Freddie
- Tend to be short term in nature
- Fannie only reporting since 7/2020

Conclusions on interest rate reductions:

- Almost all ir reductions are marked as mods
- mods involve ir reduction about 60% of the time

Conclusions on Deferrals

- Fannie started reporting 7/2020. Freddie goes back in time.
- Some overlap with borr_asst_plan when defrl_amt > 0 first time

In [57]:
import mortgage_imports.clickhouse_utilities as cu
import pandas as pd
import numpy as np
from muti import chu

In [58]:
# pandas options
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)
pd.set_option('display.colheader_justify', 'center')
pd.set_option('display.max_rows', 1000)
client = chu.make_connection()

In [59]:
qry = \
"""
SELECT
    src_data,
    m.mod_flg AS mf,
    m.mod_sticky_flg AS msf,
    COUNT(*) AS ln_mon
FROM
    unified.frannie ARRAY JOIN monthly AS m
GROUP BY
  src_data,
  mf,
  msf
ORDER BY
  src_data,
  mf,
  msf;
"""

df1 = chu.run_query(qry, client, return_df=True)
df1.head(n=100)

          src_data       mf msf    ln_mon
0                 fannie  !   !    33987606
1                 fannie  !   Y      368597
2                 fannie  N   N  2386167365
3                 fannie  N   Y       96590
4                 fannie  Y   Y    38026197
5   freddie:non-standard  N   N   329102871
6   freddie:non-standard  N   Y    16940777
7   freddie:non-standard  Y   Y      307970
8       freddie:standard  N   N  2002063990
9       freddie:standard  N   Y    25872646
10      freddie:standard  Y   Y      511910

In [60]:
# look at relations between mod_flg and dq on that date and max prior dq
# most frequently they are reset to current at the mod date and were 6+ months dq prior
qry = \
"""
SELECT
  src_data,
  prior_dq > 6 ? 6 : prior_dq AS prior_dq,
  count(*) AS nl
FROM (
    SELECT
        src_data,
        arrayMax(arraySlice(monthly.months_dq, 1, indexOf(monthly.mod_flg, 'Y'))) AS prior_dq
    FROM
        unified.frannie
    WHERE
        has(monthly.mod_flg, 'Y'))
GROUP BY src_data, prior_dq
ORDER BY src_data, prior_dq
"""

df2 = chu.run_query(qry, client, return_df=True)
df2.head(n=1000)

          src_data        prior_dq    nl
0                 fannie      0        599
1                 fannie      1       3064
2                 fannie      2      18248
3                 fannie      3      45688
4                 fannie      4      74425
5                 fannie      5      82729
6                 fannie      6     368971
7   freddie:non-standard      0       1102
8   freddie:non-standard      1       5397
9   freddie:non-standard      2      11783
10  freddie:non-standard      3      19447
11  freddie:non-standard      4      25525
12  freddie:non-standard      5      27451
13  freddie:non-standard      6     163025
14      freddie:standard      0       1611
15      freddie:standard      1       9045
16      freddie:standard      2      20171
17      freddie:standard      3      36163
18      freddie:standard      4      49966
19      freddie:standard      5      57702
20      freddie:standard      6     260109

you can see that the effect of the sticky mod flag--little effect on Fannie, big effect of Freddie
where the flag only appears on the month of the mod

modded loans tend to be very dq in their history

In [61]:
# look at the relationship between mod_flg and borrower assistance plan

# R = repayment plan
# F = forbearance
# T = Trial
# N = no plan
# 7/9 = Not applicable/available (fannie)

# repayment plans: Freddie does more, about 1/3 are Y (standard) for mod_sticky_flg. None for fannie.
# forbearance: vast majority are not listed as mod -- perhaps coincidental overlap (ie forbearance on
#              a loan that happened to be modified)
qry = \
"""
SELECT
    src_data,
    m.mod_flg AS mf,
    m.mod_sticky_flg AS msf,
    m.borr_asst_plan AS bap,
    count(*) AS ln_mon
FROM
    unified.frannie ARRAY JOIN monthly AS m
GROUP BY
  src_data,
  mf,
  msf,
  bap
ORDER BY
  src_data,
  mf,
  msf,
  bap;
"""

df = chu.run_query(qry, client, return_df=True)
df.sort_values(['src_data', 'bap', 'mf', 'msf'])[['src_data', 'bap', 'mf', 'msf', 'ln_mon']].head(n=1000)

          src_data       bap mf msf    ln_mon
0                 fannie   !  !   !    30623409
2                 fannie   !  !   Y      333358
4                 fannie   !  N   N  2250206298
10                fannie   !  N   Y       77256
16                fannie   !  Y   Y    35892258
1                 fannie   7  !   !     3364197
3                 fannie   7  !   Y       35239
5                 fannie   7  N   N   129464692
11                fannie   7  N   Y       14887
17                fannie   7  Y   Y     1458903
6                 fannie   F  N   N     4906953
12                fannie   F  N   Y        1674
18                fannie   F  Y   Y      373776
7                 fannie   N  N   N     1449918
13                fannie   N  N   Y        2575
19                fannie   N  Y   Y      278319
8                 fannie   R  N   N       46060
14                fannie   R  N   Y          37
20                fannie   R  Y   Y        6491
9                 fannie   T  N   N       93444
15                fannie   T  N   Y         161
21                fannie   T  Y   Y       16450
22  freddie:non-standard   !  N   N   328605706
26  freddie:non-standard   !  N   Y    16599494
30  freddie:non-standard   !  Y   Y      305331
23  freddie:non-standard   F  N   N      260784
27  freddie:non-standard   F  N   Y      122384
31  freddie:non-standard   F  Y   Y         779
24  freddie:non-standard   R  N   N       68170
28  freddie:non-standard   R  N   Y       91093
32  freddie:non-standard   R  Y   Y         161
25  freddie:non-standard   T  N   N      168211
29  freddie:non-standard   T  N   Y      127806
33  freddie:non-standard   T  Y   Y        1699
34      freddie:standard   !  N   N  1997623289
38      freddie:standard   !  N   Y    25259663
42      freddie:standard   !  Y   Y      503552
35      freddie:standard   F  N   N     3508579
39      freddie:standard   F  N   Y      263896
43      freddie:standard   F  Y   Y        1722
36      freddie:standard   R  N   N      286365
40      freddie:standard   R  N   Y      148734
44      freddie:standard   R  Y   Y         291
37      freddie:standard   T  N   N      645757
41      freddie:standard   T  N   Y      200353
45      freddie:standard   T  Y   Y        6345

In [62]:

# look at sticky-ness of borr_asst_plan: Fannie
# sticky
# code '7' seems to indicate end of forbearance

qry = \
"""
SELECT
    arraySlice(monthly.borr_asst_plan, indexOf(monthly.borr_asst_plan, 'F')) AS bap
FROM
    fannie.final
WHERE
    has(monthly.borr_asst_plan, 'F')
ORDER BY rand32(1)
LIMIT 35
"""

df3 = chu.run_query(qry, client, return_df=True)
print(np.asarray(df3['bap']))

[list(['F', 'F', 'F', 'F', 'F', 'F', 'F', 'F', '7'])
 list(['F', 'F', 'F', 'F', 'F', 'F', 'F', 'F', 'F'])
 list(['F', 'F', 'F', 'F', 'F', 'F', 'F', '7', '7'])
 list(['F', 'F', 'F', 'F', 'F', 'F', 'F', 'F', 'F'])
 list(['F', 'F', 'F', '7', '7', '7', '7', '7', '7'])
 list(['F', 'F', 'F', 'F', 'N', 'N', 'N', '7', '7']) list(['F', '7', '7'])
 list(['F', 'F', 'F', '7', '7', '7', '7', '7', '7'])
 list(['F', 'F', 'F', 'F', 'F', 'F', 'N', '7', '7'])
 list(['F', 'F', 'F', 'F', 'F', 'F', 'F', '7', '7'])
 list(['F', 'F', 'F', 'F', 'F', 'F', 'F', 'F', 'F'])
 list(['F', 'F', 'F', 'F', 'F', 'F', '7', '7', '7']) list(['F', 'F', 'F'])
 list(['F', 'F', 'F', 'F', 'F', 'F'])
 list(['F', 'F', 'N', 'F', 'F', 'F', '7', 'N', '7'])
 list(['F', '7', '7', 'F', '7'])
 list(['F', 'F', 'N', '7', '7', '7', '7', '7', '7'])
 list(['F', 'F', 'F', 'F', 'F', '7', '7', '7', 'N']) list(['F', 'F'])
 list(['F', 'F', 'F', 'F', 'F', 'F', 'F', '7', '7', '7'])
 list(['F', 'F', 'F', 'F', '7', 'F', 'F', 'F', 'F'])
 list(['F', 'F', 'F', 'F', 'F', 'F', 'F', 'F', 'F'])
 list(['F', 'F', 'F', 'F'])
 list(['F', 'F', 'F', '7', '7', '7', '7', '7', '7'])
 list(['F', 'F', 'F', 'F', 'F', 'F', 'F', '7', '7'])
 list(['F', 'F', 'F', 'F', 'F', 'F', 'F', 'F'])
 list(['F', 'F', 'F', 'F', 'F', 'F', 'F', 'F', 'F'])
 list(['F', '7', '7', '7', 'F', 'F', 'F', 'F'])
 list(['F', 'F', 'F', 'F', 'F', 'F', 'F', 'F', 'F'])
 list(['F', 'F', 'F', 'F', 'F', 'F', 'F', 'F', 'F'])
 list(['F', 'F', 'T', 'T', 'T', 'T', 'N', '7', '7'])
 list(['F', 'F', 'F', 'F', 'F', 'F', 'N', 'N', 'N'])
 list(['F', 'F', 'F', 'F', 'F', 'F', 'F']) list(['F'])
 list(['F', 'F', 'F', 'F', 'F', 'F', 'F', 'F'])]

In [63]:

# look at sticky-ness of borr_asst_plan: Freddie, sticky
# becomes unpopulated after forbearance ends


qry = \
"""
SELECT
    arraySlice(monthly.borr_asst_plan, indexOf(monthly.borr_asst_plan, 'F')) AS bap
FROM
    freddie.final
WHERE
    has(monthly.borr_asst_plan, 'F')
ORDER BY rand32(1)
LIMIT 35
"""

df4 = chu.run_query(qry, client, return_df=True)
print(np.asarray(df4['bap']))

[list(['F', 'F', 'F', 'F', 'F', 'F']) list(['F', 'F', '!', '!', '!'])
 list(['F', 'F', 'F', '!', '!', '!', '!', '!'])
 list(['F', 'F', 'F', '!', '!', '!', '!', '!'])
 list(['F', 'F', 'F', 'F', 'F', 'F', 'F'])
 list(['F', 'F', 'F', 'F', 'F', 'F', 'F', 'F', 'F', 'F', 'F', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!'])
 list(['F', 'F', 'F']) list(['F', 'F', 'F', 'F', 'F', 'F', 'F'])
 list(['F', 'F', 'F', 'F', 'F', 'F', 'F', '!'])
 list(['F', 'F', '!', '!', '!', '!', '!', '!', '!'])
 list(['F', 'F', 'F', 'F', 'F', 'F', 'F', 'F'])
 list(['F', 'F', 'F', 'F', 'F', 'F', '!'])
 list(['F', 'F', 'F', 'F', 'F', '!', '!', '!', '!'])
 list(['F', 'F', 'F', 'F', '!', '!'])
 list(['F', '!', '!', '!', '!', '!', '!', '!', '!', '!', 'T', 'T', 'T', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!'])
 list(['F', 'F', '!']) list(['F', 'F', 'F', 'F', 'F', 'F', 'F', 'F'])
 list(['F', 'F', 'F', 'F', 'F', 'F', 'F', 'F']) list(['F', 'F', 'F'])
 list(['F', 'F', 'F', 'F', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!'])
 list(['F', 'F', 'F', '!', '!', '!', '!'])
 list(['F', 'F', 'F', 'F', 'F', 'F', 'F', '!']) list(['F', 'F', 'F', 'F'])
 list(['F', 'F', 'F', 'F', 'F', 'F', '!', '!', '!'])
 list(['F', 'F', '!', '!', 'T', 'T', 'T', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!'])
 list(['F', 'F', 'F', '!', '!', '!']) list(['F', 'F', '!'])
 list(['F', 'F', 'F', 'F', '!', '!', '!', '!']) list(['F', 'F', 'F', 'F'])
 list(['F', 'F', 'F', 'F', 'F', 'F', '!', '!'])
 list(['F', 'F', 'F', 'F', '!', 'F', 'F', '!', '!'])
 list(['F', 'F', 'F', '!', '!', '!', '!'])
 list(['F', 'F', 'F', 'F', 'F', 'F'])
 list(['F', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!'])
 list(['F', 'F', 'F', 'F', 'F', '!'])]

In [64]:

# look at sticky-ness of borr_asst_plan: Fannie
# sticky
# code '7' seems to indicate end of repayment

qry = \
"""
SELECT
    arraySlice(monthly.borr_asst_plan, indexOf(monthly.borr_asst_plan, 'R')) AS bap
FROM
    fannie.final
WHERE
    has(monthly.borr_asst_plan, 'R')
ORDER BY rand32(1)
LIMIT 35
"""

df5 = chu.run_query(qry, client, return_df=True)
print(np.asarray(df5['bap']))

[list(['R', 'R', 'N', 'N', 'N', 'R', 'R'])
 list(['R', 'R', 'N', 'N', 'N', 'N', 'N', '7'])
 list(['R', 'R', 'R', 'R', 'R', 'R', '7', '7', '7'])
 list(['R', 'N', 'N', '7', '7', '7', '7', '7', '7'])
 list(['R', 'R', 'R', 'R', 'R', '7']) list(['R', 'R', 'N'])
 list(['R', 'R']) list(['R', '7', '7', '7', '7', '7', '7', '7', '7'])
 list(['R', 'F', '7', '7']) list(['R', 'R'])
 list(['R', 'R', 'R', '7', '7', '7', '7', '7', '7'])
 list(['R', 'R', 'N', 'N', 'R', 'R']) list(['R', 'R', 'R', 'R', 'R', 'R'])
 list(['R', 'F', 'F', 'F', 'F', 'F', 'F', 'F', 'F'])
 list(['R', 'R', 'R', 'R', 'R', '7']) list(['R', 'R', 'R', 'R', 'R', 'N'])
 list(['R', 'R', 'R', 'R', 'R', 'R', '7']) list(['R', 'R', 'R', 'F'])
 list(['R', 'R'])
 list(['R', 'R', 'F', 'F', 'F', 'F', 'F', 'R', 'N', 'T', 'T'])
 list(['R', 'R', 'R', 'R', 'R', 'R']) list(['R', '7']) list(['R', '7'])
 list(['R', 'R', 'R', 'R', 'R', 'R']) list(['R', 'R', 'N', 'N'])
 list(['R', 'R', 'R', 'R', 'R']) list(['R', 'R', 'R', 'R'])
 list(['R', 'N', 'F', 'F', 'F', 'F', 'F', 'F', 'F', 'F', 'F'])
 list(['R', 'R', 'R', 'R', 'R', 'R']) list(['R']) list(['R', 'R', 'R'])
 list(['R', 'R', 'R', 'R', 'R', 'R', '7']) list(['R', 'R', 'R'])
 list(['R', 'N', '7', 'R', 'R', 'R', 'R'])
 list(['R', 'N', '7', '7', '7', '7'])]

In [65]:

# look at sticky-ness of borr_asst_plan: Freddie
# sticky


qry = \
"""
SELECT
    arraySlice(monthly.borr_asst_plan, indexOf(monthly.borr_asst_plan, 'R')) AS bap
FROM
    freddie.final
WHERE
    has(monthly.borr_asst_plan, 'R')
ORDER BY rand32(1)
LIMIT 35
"""

df6 = chu.run_query(qry, client, return_df=True)
print(np.asarray(df6['bap']))

[list(['R', 'R', 'R', 'R', 'R', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!'])
 list(['R', 'R', 'R', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!'])
 list(['R', 'R', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!'])
 list(['R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', '!', '!', '!', '!', 'T', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', 'R', 'R', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!'])
 list(['R', 'R', 'R', 'R', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!'])
 list(['R', 'F', 'F'])
 list(['R', 'R', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', 'T', 'T', 'T', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!'])
 list(['R', 'R', 'R', 'R', 'R', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', 'R', 'R', 'R', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!'])
 list(['R', 'R', '!', '!', '!', '!', '!', '!', '!', '!', '!', 'R', 'R', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!'])
 list(['R', 'R', 'R', 'R', 'R', '!', '!', '!', '!'])
 list(['R', 'R', 'R', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!'])
 list(['R', 'R', '!', '!', '!', '!', '!', 'T', 'T', 'T', 'T', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!'])
 list(['R', '!', '!', '!', 'T', 'T', 'T', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!'])
 list(['R', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!'])
 list(['R', 'R', 'R', '!', '!', '!', '!', '!', '!', '!', '!', 'F', 'F', 'F', 'F', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!'])
 list(['R', 'R', 'R', 'R', 'R', 'R', '!', '!', '!', '!', '!', '!', '!'])
 list(['R', 'R', 'R', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!'])
 list(['R', '!', '!', '!', '!', '!', '!', 'F', 'F', 'F', 'F', 'F'])
 list(['R', 'R', '!', '!', '!', 'R', 'R', 'R', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', 'F', 'F', 'F', 'F', 'F', 'F', 'F', 'F', 'F'])
 list(['R', '!', 'T', 'T', 'T', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!'])
 list(['R', 'R', 'R', '!', '!', 'T', 'T', 'T', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!'])
 list(['R', 'R', '!', '!', '!', 'T', 'T', 'T', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', 'T', 'T', 'T', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', 'R', 'R', 'R', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', 'R', 'R', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!'])
 list(['R', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', 'F', 'F', '!', 'F', 'F', 'F', '!', '!', '!'])
 list(['R', 'R', 'R', 'R', 'R', 'R', 'R', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!'])
 list(['R', '!', '!', '!', 'T', 'T', 'T', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!'])
 list(['R', 'T', 'T', 'T', 'T', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', 'T', 'T', 'T', '!', '!', '!', '!', '!', '!', '!', '!', 'R', 'R', 'R', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!'])
 list(['R', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!'])
 list(['R', 'R', 'R', 'R', 'R', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!'])
 list(['R', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!'])
 list(['R', '!', '!', 'T', 'T', '!'])
 list(['R', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!'])
 list(['R', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!'])
 list(['R', 'R', 'R', 'R', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!'])
 list(['R', 'R', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!'])
 list(['R', 'R', 'R', 'R', 'R'])]

In [66]:

# look at sticky-ness of borr_asst_plan: Fannie
# sticky
# code '7' seems to indicate end of trial

qry = \
"""
SELECT
    arraySlice(monthly.borr_asst_plan, indexOf(monthly.borr_asst_plan, 'T')) AS bap
FROM
    fannie.final
WHERE
    has(monthly.borr_asst_plan, 'T')
ORDER BY rand32(1)
LIMIT 35
"""

df7 = chu.run_query(qry, client, return_df=True)
print(np.asarray(df7['bap']))

[list(['T', 'N', '7', '7', '7', '7', 'N', 'N', 'N'])
 list(['T', 'T', 'T', 'T', 'T'])
 list(['T', 'T', 'N', 'N', 'N', 'N', 'F', 'F', 'F']) list(['T'])
 list(['T', 'N']) list(['T', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N'])
 list(['T', 'T', 'T', 'N', 'N', 'T', 'T', 'T', 'N'])
 list(['T', 'T', 'N', 'N', 'N']) list(['T']) list(['T', 'T', 'T'])
 list(['T', 'T', 'T', 'N', 'N', '7', '7', '7', '7'])
 list(['T', 'T', '7', 'N', 'N', 'N', 'N', 'N', 'N'])
 list(['T', 'N', 'N', '7']) list(['T', 'T', 'T', 'T', 'T'])
 list(['T', 'T', 'T', 'N']) list(['T', 'T', 'N', 'T', 'T'])
 list(['T', 'T', 'N', '7', 'N'])
 list(['T', 'T', 'T', 'N', 'N', '7', '7', '7'])
 list(['T', 'T', 'T', 'N', '7', '7', '7']) list(['T', 'T', 'T', '7'])
 list(['T', '7']) list(['T', 'N'])
 list(['T', 'N', 'T', 'T', 'T', 'N', '7']) list(['T', 'T', 'T', 'T'])
 list(['T', 'N', 'N', '7', '7', 'N', '7', '7', '7'])
 list(['T', 'T', 'T', '7', '7'])
 list(['T', 'T', '7', '7', '7', '7', 'N', '7', 'N'])
 list(['T', 'T', 'T', 'T', 'N', 'N', 'N'])
 list(['T', '7', '7', '7', '7', 'N', 'N', '7', '7'])
 list(['T', 'N', '7', '7', '7', '7', '7', '7', '7'])
 list(['T', 'T', 'T', 'N', '7', '7', '7'])
 list(['T', 'N', 'N', '7', '7', '7', '7']) list(['T', '7'])
 list(['T', 'N', 'N', 'N', '7', 'F', 'F', 'F']) list(['T'])]

In [67]:

# look at sticky-ness of borr_asst_plan: Fannie
# sticky
# code '7' seems to indicate end of trial

qry = \
"""
SELECT
    arraySlice(monthly.borr_asst_plan, indexOf(monthly.borr_asst_plan, 'T')) AS bap
FROM
    freddie.final
WHERE
    has(monthly.borr_asst_plan, 'T')
ORDER BY rand32(1)
LIMIT 35
"""

df8 = chu.run_query(qry, client, return_df=True)
print(np.asarray(df8['bap']))

[list(['T', 'F', 'F', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!'])
 list(['T', 'T', 'T', 'T', 'T', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!'])
 list(['T', 'T', 'T', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', 'T', 'T', 'T', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', 'T', 'T', 'T', 'T', '!', '!', '!', '!', 'R', 'R', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!'])
 list(['T', 'T', 'T', 'T', 'T', 'T', 'T', '!', '!', '!', '!', '!'])
 list(['T', 'T', 'T', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', 'R', 'R', '!', '!', '!', '!', '!', '!', '!', 'R', '!', '!', '!', '!', '!', '!', '!'])
 list(['T', 'T', 'T', 'T', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', 'F', 'F', 'F', 'F', '!', '!', '!', '!'])
 list(['T', 'T', 'T', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', 'F', 'F', 'F', '!', '!', '!', '!', '!', 'F', 'F'])
 list(['T', 'T', 'T', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!'])
 list(['T', 'T', 'T', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', 'R', 'R', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!'])
 list(['T', 'T', 'T', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!'])
 list(['T', 'T', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!'])
 list(['T', 'T'])
 list(['T', 'T', 'T', '!', '!', 'T', 'T', 'T', 'T', 'T', 'T', 'T', '!', '!', '!', '!', 'F', 'F', '!', '!', '!', 'T', 'T', 'T', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', 'F', 'F', 'F', '!'])
 list(['T', 'T', 'T', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!'])
 list(['T', 'F', 'F', 'F', '!', '!', '!', 'T', 'T', 'T', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', 'F', 'F', 'F', 'F', 'F', 'F', 'F', 'F', 'F'])
 list(['T', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!'])
 list(['T', 'T', 'T', 'T', '!', '!', '!'])
 list(['T', '!', '!', 'R', 'T', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!'])
 list(['T', '!', '!', '!', '!', '!', '!', '!', '!', '!'])
 list(['T', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!'])
 list(['T', 'T', 'T', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!'])
 list(['T', 'T', 'T', 'T', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!'])
 list(['T', 'T', 'T', 'T', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!'])
 list(['T', 'T', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!'])
 list(['T', 'T', 'T', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', 'F', 'F', 'F', 'F', 'F', 'F', 'F', 'F', 'F'])
 list(['T', 'T', 'T', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!'])
 list(['T', 'T', 'T', 'T', 'T', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', 'F', 'F', 'F', 'F'])
 list(['T', 'T', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!'])
 list(['T', 'T', '!', '!', '!', '!', '!'])
 list(['T', 'T', 'T', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!'])
 list(['T', 'T', 'T', '!', '!', 'T', 'T', 'T', 'T', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', 'T', 'T', 'T', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!'])
 list(['T', '!', 'T', 'T', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!'])
 list(['T', 'T', 'T', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', 'R', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!'])
 list(['T', '!', '!', '!', '!'])
 list(['T', 'T', 'T', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!'])]

In [68]:
# loans active 12/2020
qry = \
"""
SELECT
    has(monthly.dt, toDate('2020-12-01')) AS dec2020,
    count(*) AS nl
FROM
    unified.frannie
GROUP BY dec2020
"""

df8b = chu.run_query(qry, client, return_df=True)
df8b.head()

   dec2020     nl
0     0     68031587
1     1     26004490

In [69]:
# loans with bap = R
qry = \
"""
SELECT
    has(monthly.borr_asst_plan, 'R') AS bap,
    count(*) AS nl
FROM
    unified.frannie
GROUP BY bap
"""

df8c = chu.run_query(qry, client, return_df=True)
df8c.head()

   bap     nl
0   0   93877028
1   1     159049

In [70]:

# loans with bap = F: first date distribution
qry = \
"""
SELECT
    src_data,
    arrayElement(monthly.dt, indexOf(monthly.borr_asst_plan, 'F')) AS dt,
    count(*) AS nl
FROM
    unified.frannie
WHERE
    has(monthly.borr_asst_plan, 'F')
GROUP BY src_data, dt
ORDER BY src_data, nl DESC
"""

df8d = chu.run_query(qry, client, return_df=True)
df8d.head(n=1000)

           src_data            dt        nl
0                  fannie  2020-04-01  647614
1                  fannie  2020-05-01  161401
2                  fannie  2020-06-01   48741
3                  fannie  2020-07-01   34086
4                  fannie  2020-08-01   26188
5                  fannie  2020-09-01   22855
6                  fannie  2020-03-01   21363
7                  fannie  2020-12-01   19278
8                  fannie  2020-10-01   18554
9                  fannie  2020-11-01   16413
10                 fannie  2020-02-01      41
11                 fannie  2020-01-01      25
12                 fannie  2019-11-01      19
13                 fannie  2019-12-01      13
14                 fannie  2019-10-01       7
15                 fannie  2019-09-01       6
16                 fannie  2019-08-01       1
17   freddie:non-standard  2020-04-01   21783
18   freddie:non-standard  2020-05-01   11095
19   freddie:non-standard  2017-10-01    4515
20   freddie:non-standard  2020-06-01    4323
21   freddie:non-standard  2020-09-01    2874
22   freddie:non-standard  2020-07-01    2865
23   freddie:non-standard  2017-11-01    2406
24   freddie:non-standard  2017-09-01    2257
25   freddie:non-standard  2020-03-01    1746
26   freddie:non-standard  2020-08-01    1713
27   freddie:non-standard  2020-10-01    1617
28   freddie:non-standard  2020-11-01    1167
29   freddie:non-standard  2020-12-01    1019
30   freddie:non-standard  2014-04-01     627
31   freddie:non-standard  2014-02-01     509
32   freddie:non-standard  2014-05-01     495
33   freddie:non-standard  2014-03-01     488
34   freddie:non-standard  2014-06-01     485
35   freddie:non-standard  2014-07-01     485
36   freddie:non-standard  2014-01-01     470
37   freddie:non-standard  2014-08-01     458
38   freddie:non-standard  2017-12-01     453
39   freddie:non-standard  2014-09-01     436
40   freddie:non-standard  2014-12-01     435
41   freddie:non-standard  2014-10-01     393
42   freddie:non-standard  2015-01-01     372
43   freddie:non-standard  2015-03-01     316
44   freddie:non-standard  2014-11-01     302
45   freddie:non-standard  2015-02-01     302
46   freddie:non-standard  2018-01-01     282
47   freddie:non-standard  2015-04-01     265
48   freddie:non-standard  2018-10-01     246
49   freddie:non-standard  2015-05-01     246
50   freddie:non-standard  2019-01-01     239
51   freddie:non-standard  2015-06-01     219
52   freddie:non-standard  2015-07-01     213
53   freddie:non-standard  2015-08-01     197
54   freddie:non-standard  2015-10-01     186
55   freddie:non-standard  2016-03-01     185
56   freddie:non-standard  2016-02-01     178
57   freddie:non-standard  2015-09-01     172
58   freddie:non-standard  2015-11-01     170
59   freddie:non-standard  2019-06-01     168
60   freddie:non-standard  2018-09-01     164
61   freddie:non-standard  2018-11-01     160
62   freddie:non-standard  2015-12-01     157
63   freddie:non-standard  2016-08-01     150
64   freddie:non-standard  2018-05-01     146
65   freddie:non-standard  2016-01-01     144
66   freddie:non-standard  2016-10-01     139
67   freddie:non-standard  2018-12-01     136
68   freddie:non-standard  2016-05-01     134
69   freddie:non-standard  2017-08-01     133
70   freddie:non-standard  2017-01-01     133
71   freddie:non-standard  2016-04-01     128
72   freddie:non-standard  2016-06-01     128
73   freddie:non-standard  2016-11-01     121
74   freddie:non-standard  2018-02-01     118
75   freddie:non-standard  2016-09-01     117
76   freddie:non-standard  2016-12-01     116
77   freddie:non-standard  2017-02-01     104
78   freddie:non-standard  2019-02-01     103
79   freddie:non-standard  2016-07-01     102
80   freddie:non-standard  2019-07-01     101
81   freddie:non-standard  2018-03-01      99
82   freddie:non-standard  2018-07-01      98
83   freddie:non-standard  2020-02-01      91
84   freddie:non-standard  2017-03-01      91
85   freddie:non-standard  2017-05-01      84
86   freddie:non-standard  2019-04-01      84
87   freddie:non-standard  2017-04-01      81
88   freddie:non-standard  2018-06-01      79
89   freddie:non-standard  2019-05-01      76
90   freddie:non-standard  2019-10-01      74
91   freddie:non-standard  2017-06-01      74
92   freddie:non-standard  2018-04-01      71
93   freddie:non-standard  2017-07-01      67
94   freddie:non-standard  2019-11-01      64
95   freddie:non-standard  2019-03-01      60
96   freddie:non-standard  2020-01-01      59
97   freddie:non-standard  2019-08-01      59
98   freddie:non-standard  2018-08-01      56
99   freddie:non-standard  2019-09-01      54
100  freddie:non-standard  2019-12-01      48
101      freddie:standard  2020-04-01  272963
102      freddie:standard  2020-05-01  158198
103      freddie:standard  2020-06-01   58784
104      freddie:standard  2020-09-01   42992
105      freddie:standard  2020-07-01   32618
106      freddie:standard  2020-08-01   21168
107      freddie:standard  2017-10-01   19078
108      freddie:standard  2020-10-01   18477
109      freddie:standard  2017-11-01   15917
110      freddie:standard  2020-12-01   13770
111      freddie:standard  2020-11-01   13667
112      freddie:standard  2020-03-01   12823
113      freddie:standard  2017-09-01    9257
114      freddie:standard  2019-01-01    2161
115      freddie:standard  2017-12-01    1868
116      freddie:standard  2018-10-01    1667
117      freddie:standard  2014-04-01    1560
118      freddie:standard  2018-01-01    1495
119      freddie:standard  2014-08-01    1197
120      freddie:standard  2014-07-01    1190
121      freddie:standard  2014-09-01    1180
122      freddie:standard  2014-05-01    1136
123      freddie:standard  2018-11-01    1113
124      freddie:standard  2018-12-01    1099
125      freddie:standard  2014-06-01    1095
126      freddie:standard  2014-02-01    1087
127      freddie:standard  2018-09-01    1086
128      freddie:standard  2014-12-01    1062
129      freddie:standard  2014-01-01    1061
130      freddie:standard  2014-03-01    1045
131      freddie:standard  2019-02-01    1035
132      freddie:standard  2014-10-01     996
133      freddie:standard  2015-01-01     954
134      freddie:standard  2019-10-01     921
135      freddie:standard  2019-07-01     906
136      freddie:standard  2016-09-01     844
137      freddie:standard  2015-02-01     833
138      freddie:standard  2015-03-01     797
139      freddie:standard  2014-11-01     797
140      freddie:standard  2019-06-01     786
141      freddie:standard  2015-04-01     763
142      freddie:standard  2019-11-01     694
143      freddie:standard  2017-08-01     693
144      freddie:standard  2019-08-01     645
145      freddie:standard  2015-05-01     640
146      freddie:standard  2018-03-01     633
147      freddie:standard  2019-04-01     607
148      freddie:standard  2020-02-01     595
149      freddie:standard  2016-08-01     591
150      freddie:standard  2020-01-01     570
151      freddie:standard  2019-12-01     560
152      freddie:standard  2016-10-01     555
153      freddie:standard  2015-08-01     553
154      freddie:standard  2015-06-01     549
155      freddie:standard  2015-07-01     542
156      freddie:standard  2015-10-01     541
157      freddie:standard  2016-02-01     539
158      freddie:standard  2019-09-01     537
159      freddie:standard  2019-03-01     531
160      freddie:standard  2018-05-01     526
161      freddie:standard  2016-11-01     514
162      freddie:standard  2015-12-01     510
163      freddie:standard  2018-06-01     507
164      freddie:standard  2015-11-01     488
165      freddie:standard  2016-03-01     482
166      freddie:standard  2016-01-01     479
167      freddie:standard  2017-01-01     478
168      freddie:standard  2015-09-01     476
169      freddie:standard  2018-02-01     469
170      freddie:standard  2016-04-01     468
171      freddie:standard  2018-07-01     467
172      freddie:standard  2018-08-01     465
173      freddie:standard  2019-05-01     460
174      freddie:standard  2016-12-01     459
175      freddie:standard  2017-02-01     425
176      freddie:standard  2016-05-01     417
177      freddie:standard  2017-03-01     405
178      freddie:standard  2016-06-01     399
179      freddie:standard  2018-04-01     372
180      freddie:standard  2016-07-01     365
181      freddie:standard  2017-04-01     353
182      freddie:standard  2017-06-01     333
183      freddie:standard  2017-05-01     327
184      freddie:standard  2017-07-01     295

In [71]:
# loans with bap = F
qry = \
"""
SELECT
    has(monthly.borr_asst_plan, 'F') AS bap,
    count(*) AS nl
FROM
    unified.frannie
GROUP BY bap
"""

df8b = chu.run_query(qry, client, return_df=True)
df8b.head()

   bap     nl
0   0   92202937
1   1    1833140

In [72]:
# loans with bap = T
qry = \
"""
SELECT
    has(monthly.borr_asst_plan, 'T') AS bap,
    count(*) AS nl
FROM
    unified.frannie
GROUP BY bap
"""

df8a = chu.run_query(qry, client, return_df=True)
df8a.head()

   bap     nl
0   0   93691931
1   1     344146

In [73]:

# look at relations between borr_asst_plan=F and max prior dq

qry = \
"""
SELECT
  src_data,
  prior_dq > 6 ? 6 : prior_dq AS prior_dq,
  count(*) AS nl
FROM (
    SELECT
        src_data,
        arrayMax(arraySlice(monthly.months_dq, 1, indexOf(monthly.borr_asst_plan, 'F'))) AS prior_dq
    FROM
        unified.frannie
    WHERE
        has(monthly.borr_asst_plan, 'F'))
GROUP BY src_data, prior_dq
ORDER BY src_data, prior_dq
"""

df9 = chu.run_query(qry, client, return_df=True)
df9.head(n=1000)

          src_data        prior_dq    nl
0                 fannie      0     389598
1                 fannie      1     459036
2                 fannie      2      65115
3                 fannie      3      22216
4                 fannie      4      13521
5                 fannie      5      12748
6                 fannie      6      54371
7   freddie:non-standard      0       3210
8   freddie:non-standard      1      27499
9   freddie:non-standard      2       7696
10  freddie:non-standard      3       4532
11  freddie:non-standard      4       3400
12  freddie:non-standard      5       3589
13  freddie:non-standard      6      23649
14      freddie:standard      0      77532
15      freddie:standard      1     508625
16      freddie:standard      2      62769
17      freddie:standard      3      24377
18      freddie:standard      4      12711
19      freddie:standard      5      10503
20      freddie:standard      6      46443

In [74]:

# look at relations between borr_asst_plan=R and max prior dq

qry = \
"""
SELECT
  src_data,
  prior_dq > 6 ? 6 : prior_dq AS prior_dq,
  count(*) AS nl
FROM (
    SELECT
        src_data,
        arrayMax(arraySlice(monthly.months_dq, 1, indexOf(monthly.borr_asst_plan, 'R'))) AS prior_dq
    FROM
        unified.frannie
    WHERE
        has(monthly.borr_asst_plan, 'R'))
GROUP BY src_data, prior_dq
ORDER BY src_data, prior_dq
"""

df9 = chu.run_query(qry, client, return_df=True)
df9.head(n=1000)

          src_data        prior_dq   nl
0                 fannie      0       638
1                 fannie      1      3370
2                 fannie      2      5087
3                 fannie      3      3896
4                 fannie      4      1061
5                 fannie      5      1055
6                 fannie      6      3455
7   freddie:non-standard      0        19
8   freddie:non-standard      1      2872
9   freddie:non-standard      2      4829
10  freddie:non-standard      3      3561
11  freddie:non-standard      4      2847
12  freddie:non-standard      5      2578
13  freddie:non-standard      6     17537
14      freddie:standard      0       296
15      freddie:standard      1     25976
16      freddie:standard      2     23677
17      freddie:standard      3     12999
18      freddie:standard      4      7455
19      freddie:standard      5      6414
20      freddie:standard      6     29427

In [75]:
# of months bap=F distribution

qry = \
"""
SELECT
  avg(num_months)
FROM (
    SELECT
        arrayElement(monthly.borr_asst_plan, length(monthly.borr_asst_plan)) AS last_element,
        countEqual(monthly.borr_asst_plan, 'F') AS num_months
    FROM
        unified.frannie
    WHERE
        has(monthly.borr_asst_plan, 'F')
        AND last_element != 'F')
"""

df9a = chu.run_query(qry, client, return_df=True)
df9a.head(n=1000)

   avg_num_months_
0     3.872851

In [76]:
# of months bap=F distribution

qry = \
"""
SELECT
  num_months,
  count(*) AS num_loans
FROM (
    SELECT
        arrayElement(monthly.borr_asst_plan, length(monthly.borr_asst_plan)) AS last_element,
        countEqual(monthly.borr_asst_plan, 'F') AS num_months
    FROM
        unified.frannie
    WHERE
        has(monthly.borr_asst_plan, 'F')
        AND last_element != 'F')
GROUP BY num_months
ORDER BY num_months
"""

df9a = chu.run_query(qry, client, return_df=True)
df9a.head(n=1000)

    num_months  num_loans
0        1       138364
1        2       178454
2        3       226399
3        4       169206
4        5       132913
5        6       130924
6        7        75306
7        8        38321
8        9         4190
9       10         2179
10      11         1599
11      12         1031
12      13          711
13      14          534
14      15          346
15      16          227
16      17          182
17      18          203
18      19           96
19      20           59
20      21           33
21      22           35
22      23           18
23      24           31
24      25           26
25      26           19
26      27           15
27      28           17
28      29            7
29      30            7
30      31            4
31      32            2
32      33            2
33      34            3
34      35            2
35      36            1
36      37            3
37      38            2
38      41            1
39      42            1
40      43            1
41      50            1
42      51            1
43      55            1

In [77]:
# of months bap=R distribution

qry = \
"""
SELECT
  num_months,
  count(*) AS num_loans
FROM (
    SELECT
        arrayElement(monthly.borr_asst_plan, length(monthly.borr_asst_plan)) AS last_element,
        countEqual(monthly.borr_asst_plan, 'R') AS num_months
    FROM
        unified.frannie
    WHERE
        has(monthly.borr_asst_plan, 'R')
        AND last_element != 'R')
GROUP BY num_months
ORDER BY num_months
"""

df9a = chu.run_query(qry, client, return_df=True)
df9a.head(n=1000)

    num_months  num_loans
0        1        39228
1        2        25574
2        3        19281
3        4        15455
4        5        15901
5        6        11138
6        7         5652
7        8         3811
8        9         2856
9       10         2361
10      11         2044
11      12         1607
12      13         1187
13      14          791
14      15          611
15      16          538
16      17          410
17      18          331
18      19          261
19      20          213
20      21          193
21      22          123
22      23          131
23      24          103
24      25           63
25      26           59
26      27           51
27      28           47
28      29           38
29      30           33
30      31           24
31      32           25
32      33           23
33      34           17
34      35           13
35      36           24
36      37            8
37      38            6
38      39            8
39      40            1
40      41            4
41      42            4
42      43            2
43      44            2
44      45            1
45      46            3
46      47            1
47      50            1
48      51            1
49      52            1
50      54            2
51      55            1
52      56            1
53      57            1
54      59            2
55      63            1

In [78]:
# of months bap=R distribution

qry = \
"""
SELECT
  num_months,
  count(*) AS num_loans
FROM (
    SELECT
        arrayElement(monthly.borr_asst_plan, length(monthly.borr_asst_plan)) AS last_element,
        countEqual(monthly.borr_asst_plan, 'T') AS num_months
    FROM
        unified.frannie
    WHERE
        has(monthly.borr_asst_plan, 'T')
        AND last_element != 'T')
GROUP BY num_months
ORDER BY num_months
"""

df9a = chu.run_query(qry, client, return_df=True)
df9a.head(n=1000)

    num_months  num_loans
0        1        36330
1        2        52697
2        3       113712
3        4        46518
4        5        22781
5        6        16199
6        7        10603
7        8         7142
8        9         4581
9       10         3050
10      11         2190
11      12         1645
12      13         1132
13      14          765
14      15          548
15      16          387
16      17          270
17      18          202
18      19          152
19      20          106
20      21           83
21      22           45
22      23           50
23      24           31
24      25           22
25      26           14
26      27           15
27      28           13
28      29            7
29      30            3
30      31            3
31      32            5
32      33            3
33      34            2
34      35            2
35      36            2
36      38            1
37      39            2
38      40            1
39      41            2
40      44            1
41      53            1
42      55            1
43      64            1

Conclusions on borr_asst_plan:

- Flags are sticky
- Can have multiple episodes of plans
- Some but not of overlap with mods
- F: most were had at most months_dq=1
- R: most were 1+ months_dq prior, mostly used by Freddie
- Tend to be short term in nature

In [79]:

# look at relations between mod_flg and interest reductions
qry = \
"""
SELECT
    src_data,
    msf,
    COUNT(*) AS ln
FROM (
    SELECT
        ln_id,
        src_data,
        ln_amort_cd,
        arrayMap((ir, zb) -> IF(zb='!', ln_orig_ir - ir, 0.0), monthly.ir, monthly.zb_cd) AS delta_ir,
        arrayMax(delta_ir) AS md,
        arrayFirstIndex(x-> IF(x > 0.25, 1, 0), delta_ir) AS fbig,
        arrayElement(monthly.mod_sticky_flg, fbig) AS msf
    FROM
        unified.frannie
    WHERE
        md > 0.25
        AND ln_amort_cd = 'FRM')
GROUP BY src_data, msf
ORDER BY src_data, msf
"""

dfa = chu.run_query(qry, client, return_df=True)
dfa.head(n=1000)

         src_data       msf    ln
0                fannie   N    6885
1                fannie   Y  367806
2  freddie:non-standard   N   12971
3  freddie:non-standard   Y  134208
4      freddie:standard   N   14897
5      freddie:standard   Y  256644

In [80]:
# look at relations between mod_flg and interest reductions
qry = \
"""
SELECT
    src_data,
    sum(IF(max_delta_ir > 0.25, 1, 0)) AS ir_reduction,
    count(*) AS ln_mods,
    sum(IF(max_delta_ir > 0.25, 1, 0)) / count(*) AS ir_reduction_rate
FROM (
    SELECT
        ln_id,
        src_data,
        ln_amort_cd,
        arrayMap((ir, zb) -> IF(zb='!', ln_orig_ir - ir, 0.0), monthly.ir, monthly.zb_cd) AS delta_ir,
        arrayMax(delta_ir) AS max_delta_ir
    FROM
        unified.frannie
    WHERE
        has(monthly.mod_sticky_flg, 'Y')
        AND ln_amort_cd = 'FRM')
GROUP BY src_data
ORDER BY src_data
"""

dfb = chu.run_query(qry, client, return_df=True)
dfb.head(n=1000)

         src_data        ir_reduction  ln_mods  ir_reduction_rate
0                fannie     368559     593724       0.620758
1  freddie:non-standard     140750     174341       0.807326
2      freddie:standard     270713     434767       0.622662

Almost all ir reductions are marked as mods
mods involve ir reduction about 60% of the time

freddie/fannie comparisons

In [81]:
# ln_purp_cd
qry = \
"""
SELECT
    src_data,
    ln_purp_cd,
    count(*) AS nl
FROM
    unified.frannie
GROUP BY src_data, ln_purp_cd
ORDER BY src_data, ln_purp_cd
"""

dfx1 = chu.run_query(qry, client, return_df=True)
dfx1.head(n=1000)

dfx = dfx1.groupby('src_data')['nl'].sum()
dfx.rename('tots')
dfx.name='tot'
dfx1 = dfx1.merge(dfx, on='src_data')
dfx1['distr'] = 100.0 * dfx1['nl'] / dfx1['tot']
dfx1[['src_data', 'ln_purp_cd', 'nl', 'distr']].head(n=100)

          src_data       ln_purp_cd     nl       distr
0                 fannie      C      13563437  27.720440
1                 fannie      P      17538824  35.845186
2                 fannie      R      17812585  36.404688
3                 fannie      U         14525   0.029686
4   freddie:non-standard      C       1284985  19.565635
5   freddie:non-standard      P       3454285  52.596162
6   freddie:non-standard      R       1819708  27.707516
7   freddie:non-standard      U          8583   0.130688
8       freddie:standard      C       9687698  25.137294
9       freddie:standard      P      12879922  33.420363
10      freddie:standard      R      15971525  41.442344

In [82]:
# ln_hrprog_flg
qry = \
"""
SELECT
    src_data,
    ln_hrprog_flg,
    count(*) AS nl
FROM
    unified.frannie
GROUP BY src_data, ln_hrprog_flg
ORDER BY src_data, ln_hrprog_flg
"""

dfx1 = chu.run_query(qry, client, return_df=True)
dfx1.head(n=1000)

dfx = dfx1.groupby('src_data')['nl'].sum()
dfx.rename('tots')
dfx.name='tot'
dfx1 = dfx1.merge(dfx, on='src_data')
dfx1['distr'] = 100.0 * dfx1['nl'] / dfx1['tot']
dfx1[['src_data', 'ln_hrprog_flg', 'nl', 'distr']].head(n=100)

         src_data       ln_hrprog_flg     nl       distr
0                fannie        !       37651429  76.950568
1                fannie        N       10688365  21.844477
2                fannie        Y         589577   1.204955
3  freddie:non-standard        H         152004   2.314467
4  freddie:non-standard        N        6415557  97.685533
5      freddie:standard        H         544867   1.413801
6      freddie:standard        N       37994278  98.586199

In [83]:

# prop_type_cd
qry = \
"""
SELECT
    src_data,
    prop_type_cd,
    count(*) AS nl
FROM
    unified.frannie
GROUP BY src_data, prop_type_cd
ORDER BY src_data, prop_type_cd
"""

dfx1 = chu.run_query(qry, client, return_df=True)
dfx1.head(n=1000)

dfx = dfx1.groupby('src_data')['nl'].sum()
dfx.rename('tots')
dfx.name='tot'
dfx1 = dfx1.merge(dfx, on='src_data')
dfx1['distr'] = 100.0 * dfx1['nl'] / dfx1['tot']
dfx1[['src_data', 'prop_type_cd', 'nl', 'distr']].head(n=100)

          src_data       prop_type_cd     nl       distr
0                 fannie      CO        3989227   8.153031
1                 fannie      CP         216089   0.441635
2                 fannie      MH         337740   0.690260
3                 fannie      PU        9196313  18.795077
4                 fannie      SF       35190002  71.919997
5   freddie:non-standard       !             69   0.001051
6   freddie:non-standard      CO         754873  11.493963
7   freddie:non-standard      CP          13501   0.205571
8   freddie:non-standard      MH          31420   0.478412
9   freddie:non-standard      PU         988537  15.051813
10  freddie:non-standard      SF        4779161  72.769191
11      freddie:standard       !           1746   0.004530
12      freddie:standard      CO        2622991   6.806044
13      freddie:standard      CP          72257   0.187490
14      freddie:standard      MH         188148   0.488200
15      freddie:standard      PU        6972043  18.090809
16      freddie:standard      SF       28681960  74.422928

In [84]:

# prop_occ_cd
qry = \
"""
SELECT
    src_data,
    prop_occ_cd,
    count(*) AS nl
FROM
    unified.frannie
GROUP BY src_data, prop_occ_cd
ORDER BY src_data, prop_occ_cd
"""

dfx1 = chu.run_query(qry, client, return_df=True)
dfx1.head(n=1000)

dfx = dfx1.groupby('src_data')['nl'].sum()
dfx.rename('tots')
dfx.name='tot'
dfx1 = dfx1.merge(dfx, on='src_data')
dfx1['distr'] = 100.0 * dfx1['nl'] / dfx1['tot']
dfx1[['src_data', 'prop_occ_cd', 'nl', 'distr']].head(n=100)

          src_data       prop_occ_cd     nl       distr
0                 fannie       I       3330499   6.806748
1                 fannie       P      43671118  89.253381
2                 fannie       S       1927600   3.939556
3                 fannie       U           154   0.000315
4   freddie:non-standard       I        329580   5.018301
5   freddie:non-standard       P       5903110  89.882835
6   freddie:non-standard       S        326316   4.968602
7   freddie:non-standard       U          8555   0.130261
8       freddie:standard       I       2129497   5.525543
9       freddie:standard       P      34957733  90.707080
10      freddie:standard       S       1451915   3.767377

In [85]:


# ln_orig_ltv
qry = \
"""
SELECT
    src_data,
    min(ln_orig_ltv),
    avg(ln_orig_ltv),
    max(ln_orig_ltv)
FROM
    unified.frannie
WHERE
    ln_orig_ltv > 0
GROUP BY src_data
ORDER BY src_data
"""

dfx1 = chu.run_query(qry, client, return_df=True)
dfx1.head(n=1000)

         src_data        min_ln_orig_ltv_  avg_ln_orig_ltv_  max_ln_orig_ltv_
0                fannie          1             71.211866            999
1  freddie:non-standard          5             76.806368            145
2      freddie:standard          1             70.777542            809

In [86]:


# ln_orig_cltv
qry = \
"""
SELECT
    src_data,
    min(ln_orig_cltv),
    avg(ln_orig_cltv),
    max(ln_orig_cltv)
FROM
    unified.frannie
WHERE
    ln_orig_cltv > 0
GROUP BY src_data
ORDER BY src_data
"""

dfx1 = chu.run_query(qry, client, return_df=True)
dfx1.head(n=1000)

         src_data        min_ln_orig_cltv_  avg_ln_orig_cltv_  max_ln_orig_cltv_
0                fannie          1              72.034021             999
1  freddie:non-standard          5              78.502685             401
2      freddie:standard          1              72.000797             899

In [87]:


# borr_orig_fico
qry = \
"""
SELECT
    src_data,
    min(borr_orig_fico),
    avg(borr_orig_fico),
    max(borr_orig_fico)
FROM
    unified.frannie
WHERE
    borr_orig_fico > 0
GROUP BY src_data
ORDER BY src_data
"""

dfx1 = chu.run_query(qry, client, return_df=True)
dfx1.head(n=1000)

         src_data        min_borr_orig_fico_  avg_borr_orig_fico_  max_borr_orig_fico_
0                fannie          300              745.126012               850
1  freddie:non-standard          300              720.790632               850
2      freddie:standard          300              741.210257               850

In [88]:
# borr_dti
qry = \
"""
SELECT
    src_data,
    min(borr_dti),
    avg(borr_dti),
    max(borr_dti)
FROM
    unified.frannie
WHERE
    borr_dti > 0
GROUP BY src_data
ORDER BY src_data
"""

dfx1 = chu.run_query(qry, client, return_df=True)
dfx1.head(n=1000)

         src_data        min_borr_dti_  avg_borr_dti_  max_borr_dti_
0                fannie        1          33.504046         64
1  freddie:non-standard        1          34.439928         65
2      freddie:standard        1          33.015878         65

In [89]:
# ln_orig_prin
qry = \
"""
SELECT
    src_data,
    min(ln_orig_prin),
    avg(ln_orig_prin),
    max(ln_orig_prin)
FROM
    unified.frannie
WHERE
    ln_orig_prin > 0
GROUP BY src_data
ORDER BY src_data
"""

dfx1 = chu.run_query(qry, client, return_df=True)
dfx1.head(n=1000)

         src_data        min_ln_orig_prin_  avg_ln_orig_prin_  max_ln_orig_prin_
0                fannie       1000.0          202958.224519        1473000.0
1  freddie:non-standard       1000.0          187646.641729        1387000.0
2      freddie:standard       1000.0          192674.690059        1473000.0

In [90]:
# ln_orig_ir
qry = \
"""
SELECT
    src_data,
    min(ln_orig_ir),
    avg(ln_orig_ir),
    max(ln_orig_ir)
FROM
    unified.frannie
WHERE
    ln_orig_ir > 0
GROUP BY src_data
ORDER BY src_data
"""

dfx1 = chu.run_query(qry, client, return_df=True)
dfx1.head(n=1000)

         src_data        min_ln_orig_ir_  avg_ln_orig_ir_  max_ln_orig_ir_
0                fannie       1.75           4.965874           16.50
1  freddie:non-standard       0.50           6.015233           14.05
2      freddie:standard       1.75           5.091005           13.95

In [91]:
# ln_mi_pct
qry = \
"""
SELECT
    src_data,
    min(ln_mi_pct),
    avg(ln_mi_pct),
    max(ln_mi_pct)
FROM
    unified.frannie
WHERE
    ln_mi_pct > 0
GROUP BY src_data
ORDER BY src_data
"""

dfx1 = chu.run_query(qry, client, return_df=True)
dfx1.head(n=1000)

         src_data        min_ln_mi_pct_  avg_ln_mi_pct_  max_ln_mi_pct_
0                fannie       0.12          24.026512         65.0
1  freddie:non-standard       1.00          25.300741         53.0
2      freddie:standard       1.00          24.069388         54.0

In [92]:

# ln_defrl_amt
qry = \
"""
SELECT
    src_data,
    m.mod_sticky_flg AS msf,
    count(*) as nl
FROM
    unified.frannie ARRAY JOIN monthly AS m
WHERE
    m.defrl_amt > 0
GROUP BY src_data, msf
ORDER BY src_data, msf
"""

dfx1 = chu.run_query(qry, client, return_df=True)
dfx1.head(n=1000)

         src_data       msf    nl
0                fannie   N   761481
1                fannie   Y    34997
2  freddie:non-standard   N   179113
3  freddie:non-standard   Y  4979734
4      freddie:standard   N  1242125
5      freddie:standard   Y  4896033

In [93]:

# mod flg when defrl_amt is first > 0
qry = \
"""
SELECT
    src_data,
    msf,
    count(*) AS nl
FROM (
SELECT
    src_data,
    arrayFirstIndex(x -> IF(x > 0, 1, 0), monthly.defrl_amt) AS first_def,
    arrayElement(monthly.mod_sticky_flg, first_def) AS msf,
    arrayElement(monthly.borr_asst_plan, first_def) AS bap
FROM
    unified.frannie
WHERE first_def > 0)
GROUP BY src_data, msf
ORDER BY src_data, msf

"""

dfx1 = chu.run_query(qry, client, return_df=True)
dfx1.head(n=1000)

         src_data       msf    nl
0                fannie   N  200738
1                fannie   Y   10062
2  freddie:non-standard   N   67254
3  freddie:non-standard   Y   20987
4      freddie:standard   N  240845
5      freddie:standard   Y   27201

In [94]:

# bap when defrl_amt is first > 0
qry = \
"""
SELECT
    src_data,
    bap,
    count(*) AS nl
FROM (
SELECT
    src_data,
    arrayFirstIndex(x -> IF(x > 0, 1, 0), monthly.defrl_amt) AS first_def,
    arrayElement(monthly.mod_sticky_flg, first_def) AS msf,
    arrayElement(monthly.borr_asst_plan, first_def) AS bap
FROM
    unified.frannie
WHERE first_def > 0)
GROUP BY src_data, bap
ORDER BY src_data, bap

"""

dfx1 = chu.run_query(qry, client, return_df=True)
dfx1.head(n=1000)

          src_data       bap    nl
0                 fannie   7  139228
1                 fannie   F   54689
2                 fannie   N   16708
3                 fannie   R     109
4                 fannie   T      66
5   freddie:non-standard   !   74805
6   freddie:non-standard   F    9268
7   freddie:non-standard   R      81
8   freddie:non-standard   T    4087
9       freddie:standard   !  113730
10      freddie:standard   F  145362
11      freddie:standard   R     416
12      freddie:standard   T    8538

In [95]:

# ln_defrl_amt
qry = \
"""
SELECT
    src_data,
    m.dt AS dt,
    count(*) as nl
FROM
    unified.frannie ARRAY JOIN monthly AS m
WHERE
    m.defrl_amt > 0
GROUP BY src_data, dt
ORDER BY src_data, nl DESC
"""

dfx1 = chu.run_query(qry, client, return_df=True)
dfx1.head(n=1000)

           src_data            dt        nl
0                  fannie  2020-12-01  196148
1                  fannie  2020-11-01  180986
2                  fannie  2020-10-01  159728
3                  fannie  2020-09-01  119703
4                  fannie  2020-08-01   84579
5                  fannie  2020-07-01   55334
6    freddie:non-standard  2015-08-01   58671
7    freddie:non-standard  2015-07-01   58657
8    freddie:non-standard  2015-09-01   58652
9    freddie:non-standard  2015-06-01   58642
10   freddie:non-standard  2015-05-01   58560
11   freddie:non-standard  2015-04-01   58486
12   freddie:non-standard  2015-10-01   58471
13   freddie:non-standard  2015-11-01   58442
14   freddie:non-standard  2016-01-01   58437
15   freddie:non-standard  2015-12-01   58401
16   freddie:non-standard  2015-03-01   58318
17   freddie:non-standard  2016-02-01   58299
18   freddie:non-standard  2016-03-01   58283
19   freddie:non-standard  2015-02-01   58212
20   freddie:non-standard  2016-04-01   58058
21   freddie:non-standard  2015-01-01   58044
22   freddie:non-standard  2016-05-01   57915
23   freddie:non-standard  2014-12-01   57887
24   freddie:non-standard  2016-06-01   57871
25   freddie:non-standard  2016-07-01   57804
26   freddie:non-standard  2014-11-01   57687
27   freddie:non-standard  2016-08-01   57618
28   freddie:non-standard  2016-11-01   57543
29   freddie:non-standard  2014-10-01   57502
30   freddie:non-standard  2016-09-01   57469
31   freddie:non-standard  2016-10-01   57446
32   freddie:non-standard  2014-09-01   57225
33   freddie:non-standard  2014-08-01   56950
34   freddie:non-standard  2017-04-01   56786
35   freddie:non-standard  2017-03-01   56724
36   freddie:non-standard  2014-07-01   56675
37   freddie:non-standard  2017-02-01   56298
38   freddie:non-standard  2014-06-01   56208
39   freddie:non-standard  2016-12-01   56149
40   freddie:non-standard  2017-01-01   56028
41   freddie:non-standard  2014-05-01   55886
42   freddie:non-standard  2014-04-01   55390
43   freddie:non-standard  2014-03-01   54730
44   freddie:non-standard  2014-02-01   54022
45   freddie:non-standard  2017-05-01   53683
46   freddie:non-standard  2017-06-01   53591
47   freddie:non-standard  2014-01-01   53307
48   freddie:non-standard  2017-07-01   52896
49   freddie:non-standard  2013-12-01   52573
50   freddie:non-standard  2013-11-01   51885
51   freddie:non-standard  2013-10-01   51003
52   freddie:non-standard  2013-09-01   50086
53   freddie:non-standard  2013-08-01   49178
54   freddie:non-standard  2013-07-01   48248
55   freddie:non-standard  2013-06-01   47225
56   freddie:non-standard  2017-08-01   47205
57   freddie:non-standard  2017-09-01   47171
58   freddie:non-standard  2013-05-01   46008
59   freddie:non-standard  2013-04-01   44986
60   freddie:non-standard  2013-03-01   44050
61   freddie:non-standard  2017-10-01   43646
62   freddie:non-standard  2013-02-01   43006
63   freddie:non-standard  2017-11-01   42109
64   freddie:non-standard  2018-02-01   41993
65   freddie:non-standard  2013-01-01   41845
66   freddie:non-standard  2018-01-01   41799
67   freddie:non-standard  2017-12-01   41648
68   freddie:non-standard  2018-05-01   41028
69   freddie:non-standard  2018-04-01   40986
70   freddie:non-standard  2018-03-01   40811
71   freddie:non-standard  2012-12-01   40523
72   freddie:non-standard  2012-11-01   39463
73   freddie:non-standard  2018-07-01   39264
74   freddie:non-standard  2018-06-01   39141
75   freddie:non-standard  2012-10-01   38243
76   freddie:non-standard  2018-10-01   37071
77   freddie:non-standard  2018-09-01   37052
78   freddie:non-standard  2012-09-01   37048
79   freddie:non-standard  2018-08-01   36995
80   freddie:non-standard  2012-08-01   35867
81   freddie:non-standard  2012-07-01   34592
82   freddie:non-standard  2018-11-01   34371
83   freddie:non-standard  2019-01-01   34258
84   freddie:non-standard  2019-02-01   34226
85   freddie:non-standard  2018-12-01   34179
86   freddie:non-standard  2012-06-01   33301
87   freddie:non-standard  2012-05-01   32318
88   freddie:non-standard  2019-03-01   32018
89   freddie:non-standard  2019-04-01   31958
90   freddie:non-standard  2012-04-01   31652
91   freddie:non-standard  2012-03-01   31073
92   freddie:non-standard  2012-02-01   30620
93   freddie:non-standard  2012-01-01   30087
94   freddie:non-standard  2011-12-01   29613
95   freddie:non-standard  2011-11-01   29124
96   freddie:non-standard  2011-10-01   28404
97   freddie:non-standard  2019-05-01   28257
98   freddie:non-standard  2019-06-01   28197
99   freddie:non-standard  2019-07-01   28008
100  freddie:non-standard  2011-09-01   27668
101  freddie:non-standard  2011-08-01   27061
102  freddie:non-standard  2011-07-01   26225
103  freddie:non-standard  2019-08-01   25861
104  freddie:non-standard  2011-06-01   25330
105  freddie:non-standard  2019-09-01   24640
106  freddie:non-standard  2019-10-01   24565
107  freddie:non-standard  2011-05-01   24332
108  freddie:non-standard  2011-04-01   23276
109  freddie:non-standard  2020-10-01   22462
110  freddie:non-standard  2011-03-01   22351
111  freddie:non-standard  2020-12-01   22329
112  freddie:non-standard  2020-11-01   21671
113  freddie:non-standard  2011-02-01   21064
114  freddie:non-standard  2020-09-01   20919
115  freddie:non-standard  2020-08-01   20817
116  freddie:non-standard  2019-11-01   20816
117  freddie:non-standard  2019-12-01   20756
118  freddie:non-standard  2020-06-01   20708
119  freddie:non-standard  2020-01-01   20608
120  freddie:non-standard  2020-02-01   20555
121  freddie:non-standard  2011-01-01   20348
122  freddie:non-standard  2020-07-01   19520
123  freddie:non-standard  2010-12-01   19337
124  freddie:non-standard  2020-03-01   19121
125  freddie:non-standard  2020-04-01   19084
126  freddie:non-standard  2020-05-01   19056
127  freddie:non-standard  2010-11-01   18410
128  freddie:non-standard  2010-10-01   17453
129  freddie:non-standard  2010-09-01   16394
130  freddie:non-standard  2010-08-01   14547
131  freddie:non-standard  2010-07-01   13477
132  freddie:non-standard  2010-06-01   12235
133  freddie:non-standard  2010-05-01   10314
134  freddie:non-standard  2010-04-01    8429
135  freddie:non-standard  2010-03-01    6919
136  freddie:non-standard  2010-02-01    4712
137  freddie:non-standard  2010-01-01    2996
138  freddie:non-standard  2009-12-01    1861
139  freddie:non-standard  2009-11-01    1094
140  freddie:non-standard  2009-10-01     148
141  freddie:non-standard  2009-09-01      29
142  freddie:non-standard  2009-08-01       9
143  freddie:non-standard  2009-07-01       4
144  freddie:non-standard  2003-05-01       1
145      freddie:standard  2020-12-01  184333
146      freddie:standard  2020-11-01  175072
147      freddie:standard  2020-10-01  165910
148      freddie:standard  2020-09-01  144854
149      freddie:standard  2020-08-01  119396
150      freddie:standard  2020-07-01   93342
151      freddie:standard  2020-06-01   75144
152      freddie:standard  2017-04-01   58038
153      freddie:standard  2016-11-01   57589
154      freddie:standard  2017-07-01   57569
155      freddie:standard  2017-06-01   57474
156      freddie:standard  2017-03-01   57448
157      freddie:standard  2016-03-01   57343
158      freddie:standard  2016-01-01   57318
159      freddie:standard  2016-02-01   57285
160      freddie:standard  2016-04-01   57277
161      freddie:standard  2015-12-01   57241
162      freddie:standard  2015-11-01   57231
163      freddie:standard  2015-09-01   57176
164      freddie:standard  2015-10-01   57173
165      freddie:standard  2016-05-01   57170
166      freddie:standard  2015-08-01   57116
167      freddie:standard  2016-06-01   57067
168      freddie:standard  2016-10-01   57054
169      freddie:standard  2016-07-01   57038
170      freddie:standard  2017-05-01   57024
171      freddie:standard  2015-07-01   57001
172      freddie:standard  2015-06-01   56955
173      freddie:standard  2016-08-01   56871
174      freddie:standard  2015-05-01   56835
175      freddie:standard  2016-09-01   56739
176      freddie:standard  2015-04-01   56728
177      freddie:standard  2015-03-01   56470
178      freddie:standard  2015-02-01   56288
179      freddie:standard  2017-02-01   56030
180      freddie:standard  2015-01-01   56027
181      freddie:standard  2014-12-01   55751
182      freddie:standard  2014-11-01   55489
183      freddie:standard  2017-09-01   55350
184      freddie:standard  2018-02-01   55251
185      freddie:standard  2014-10-01   55214
186      freddie:standard  2017-01-01   55173
187      freddie:standard  2018-05-01   55145
188      freddie:standard  2016-12-01   55062
189      freddie:standard  2017-08-01   54997
190      freddie:standard  2014-09-01   54855
191      freddie:standard  2018-04-01   54685
192      freddie:standard  2014-08-01   54481
193      freddie:standard  2018-01-01   54261
194      freddie:standard  2018-07-01   54199
195      freddie:standard  2014-07-01   54125
196      freddie:standard  2018-03-01   53812
197      freddie:standard  2014-06-01   53506
198      freddie:standard  2018-06-01   53235
199      freddie:standard  2017-10-01   53053
200      freddie:standard  2014-05-01   53031
201      freddie:standard  2017-12-01   52980
202      freddie:standard  2018-10-01   52787
203      freddie:standard  2017-11-01   52491
204      freddie:standard  2018-09-01   52371
205      freddie:standard  2014-04-01   52371
206      freddie:standard  2018-08-01   51858
207      freddie:standard  2014-03-01   51559
208      freddie:standard  2019-02-01   51151
209      freddie:standard  2019-01-01   50825
210      freddie:standard  2014-02-01   50671
211      freddie:standard  2018-12-01   50090
212      freddie:standard  2014-01-01   49802
213      freddie:standard  2018-11-01   49799
214      freddie:standard  2013-12-01   48857
215      freddie:standard  2019-04-01   48822
216      freddie:standard  2019-03-01   48648
217      freddie:standard  2013-11-01   48003
218      freddie:standard  2013-10-01   46632
219      freddie:standard  2019-07-01   45610
220      freddie:standard  2019-06-01   45569
221      freddie:standard  2019-05-01   45338
222      freddie:standard  2013-09-01   45330
223      freddie:standard  2013-08-01   44092
224      freddie:standard  2019-08-01   43654
225      freddie:standard  2013-07-01   42920
226      freddie:standard  2019-10-01   42703
227      freddie:standard  2019-09-01   42451
228      freddie:standard  2013-06-01   41774
229      freddie:standard  2013-05-01   40295
230      freddie:standard  2020-02-01   39167
231      freddie:standard  2019-12-01   39134
232      freddie:standard  2019-11-01   39042
233      freddie:standard  2020-01-01   38996
234      freddie:standard  2013-04-01   38968
235      freddie:standard  2013-03-01   37832
236      freddie:standard  2020-03-01   36748
237      freddie:standard  2020-04-01   36687
238      freddie:standard  2020-05-01   36665
239      freddie:standard  2013-02-01   36601
240      freddie:standard  2013-01-01   35263
241      freddie:standard  2012-12-01   33706
242      freddie:standard  2012-11-01   32349
243      freddie:standard  2012-10-01   30923
244      freddie:standard  2012-09-01   29549
245      freddie:standard  2012-08-01   28021
246      freddie:standard  2012-07-01   26339
247      freddie:standard  2012-06-01   24832
248      freddie:standard  2012-05-01   23537
249      freddie:standard  2012-04-01   22679
250      freddie:standard  2012-03-01   22098
251      freddie:standard  2012-02-01   21638
252      freddie:standard  2012-01-01   21183
253      freddie:standard  2011-12-01   20805
254      freddie:standard  2011-11-01   20442
255      freddie:standard  2011-10-01   19875
256      freddie:standard  2011-09-01   19284
257      freddie:standard  2011-08-01   18872
258      freddie:standard  2011-07-01   18261
259      freddie:standard  2011-06-01   17581
260      freddie:standard  2011-05-01   16838
261      freddie:standard  2011-04-01   16110
262      freddie:standard  2011-03-01   15417
263      freddie:standard  2011-02-01   14549
264      freddie:standard  2011-01-01   13954
265      freddie:standard  2010-12-01   13200
266      freddie:standard  2010-11-01   12563
267      freddie:standard  2010-10-01   11955
268      freddie:standard  2010-09-01   11228
269      freddie:standard  2010-08-01    9831
270      freddie:standard  2010-07-01    9050
271      freddie:standard  2010-06-01    8227
272      freddie:standard  2010-05-01    7003
273      freddie:standard  2010-04-01    5780
274      freddie:standard  2010-03-01    4823
275      freddie:standard  2010-02-01    3632
276      freddie:standard  2010-01-01    2294
277      freddie:standard  2009-12-01    1222
278      freddie:standard  2009-11-01     539
279      freddie:standard  2009-10-01      82
280      freddie:standard  2009-09-01      17
281      freddie:standard  2009-08-01       7
282      freddie:standard  2009-07-01       6

In [96]:

# ln_defrl_amt
qry = \
"""
SELECT
    src_data,
    arrayMax(monthly.defrl_amt) AS da,
    monthly.borr_asst_plan AS bap,
    monthly.mod_sticky_flg AS msf,
    monthly.defrl_amt AS mad,
    monthly.dt AS dt

FROM
    unified.frannie
WHERE
    da > 0
ORDER BY rand32()
LIMIT 10
"""

dfx1 = chu.run_query(qry, client, return_df=True)
print(np.asarray(dfx1['mad']))
print(np.asarray(dfx1['msf']))
print(np.asarray(dfx1['dt']))

[list([0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1924.43994140625, 1924.43994140625, 1924.43994140625, 1924.43994140625, 1924.43994140625, 1924.43994140625, 1924.43994140625])
 list([0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 29059.830078125])
 list([0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1842.8499755859375, 1842.8499755859375, 1842.8499755859375, 1842.8499755859375, 1842.8499755859375])
 list([0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 7832.68017578125, 7832.68017578125, 7832.68017578125, 7832.68017578125, 7832.68017578125])
 list([0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 8203.48046875])
 list([0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 7145.10986328125, 7145.10986328125, 7145.10986328125, 7145.10986328125])
 list([0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 73400.0, 0.0])
 list([0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 12547.349609375, 12547.349609375, 12547.349609375])
 list([0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 32879.73046875])
 list([0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 5819.18994140625, 5819.18994140625, 5819.18994140625, 5819.18994140625])]
[list(['N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N'])
 list(['N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N'])
 list(['N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N'])
 list(['N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N'])
 list(['N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N'])
 list(['N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N'])
 list(['N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y'])
 list(['N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N'])
 list(['N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N'])
 list(['N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N'])]
[list([datetime.date(2019, 6, 1), datetime.date(2019, 7, 1), datetime.date(2019, 8, 1), datetime.date(2019, 9, 1), datetime.date(2019, 10, 1), datetime.date(2019, 11, 1), datetime.date(2019, 12, 1), datetime.date(2020, 1, 1), datetime.date(2020, 2, 1), datetime.date(2020, 3, 1), datetime.date(2020, 4, 1), datetime.date(2020, 5, 1), datetime.date(2020, 6, 1), datetime.date(2020, 7, 1), datetime.date(2020, 8, 1), datetime.date(2020, 9, 1), datetime.date(2020, 10, 1), datetime.date(2020, 11, 1), datetime.date(2020, 12, 1)])
 list([datetime.date(2016, 12, 1), datetime.date(2017, 1, 1), datetime.date(2017, 2, 1), datetime.date(2017, 3, 1), datetime.date(2017, 4, 1), datetime.date(2017, 5, 1), datetime.date(2017, 6, 1), datetime.date(2017, 7, 1), datetime.date(2017, 8, 1), datetime.date(2017, 9, 1), datetime.date(2017, 10, 1), datetime.date(2017, 11, 1), datetime.date(2017, 12, 1), datetime.date(2018, 1, 1), datetime.date(2018, 2, 1), datetime.date(2018, 3, 1), datetime.date(2018, 4, 1), datetime.date(2018, 5, 1), datetime.date(2018, 6, 1), datetime.date(2018, 7, 1), datetime.date(2018, 8, 1), datetime.date(2018, 9, 1), datetime.date(2018, 10, 1), datetime.date(2018, 11, 1), datetime.date(2018, 12, 1), datetime.date(2019, 1, 1), datetime.date(2019, 2, 1), datetime.date(2019, 3, 1), datetime.date(2019, 4, 1), datetime.date(2019, 5, 1), datetime.date(2019, 6, 1), datetime.date(2019, 7, 1), datetime.date(2019, 8, 1), datetime.date(2019, 9, 1), datetime.date(2019, 10, 1), datetime.date(2019, 11, 1), datetime.date(2019, 12, 1), datetime.date(2020, 1, 1), datetime.date(2020, 2, 1), datetime.date(2020, 3, 1), datetime.date(2020, 4, 1), datetime.date(2020, 5, 1), datetime.date(2020, 6, 1), datetime.date(2020, 7, 1), datetime.date(2020, 8, 1), datetime.date(2020, 9, 1), datetime.date(2020, 10, 1), datetime.date(2020, 11, 1), datetime.date(2020, 12, 1)])
 list([datetime.date(2019, 9, 1), datetime.date(2019, 10, 1), datetime.date(2019, 11, 1), datetime.date(2019, 12, 1), datetime.date(2020, 1, 1), datetime.date(2020, 2, 1), datetime.date(2020, 3, 1), datetime.date(2020, 4, 1), datetime.date(2020, 5, 1), datetime.date(2020, 6, 1), datetime.date(2020, 7, 1), datetime.date(2020, 8, 1), datetime.date(2020, 9, 1), datetime.date(2020, 10, 1), datetime.date(2020, 11, 1), datetime.date(2020, 12, 1)])
 list([datetime.date(2017, 7, 1), datetime.date(2017, 8, 1), datetime.date(2017, 9, 1), datetime.date(2017, 10, 1), datetime.date(2017, 11, 1), datetime.date(2017, 12, 1), datetime.date(2018, 1, 1), datetime.date(2018, 2, 1), datetime.date(2018, 3, 1), datetime.date(2018, 4, 1), datetime.date(2018, 5, 1), datetime.date(2018, 6, 1), datetime.date(2018, 7, 1), datetime.date(2018, 8, 1), datetime.date(2018, 9, 1), datetime.date(2018, 10, 1), datetime.date(2018, 11, 1), datetime.date(2018, 12, 1), datetime.date(2019, 1, 1), datetime.date(2019, 2, 1), datetime.date(2019, 3, 1), datetime.date(2019, 4, 1), datetime.date(2019, 5, 1), datetime.date(2019, 6, 1), datetime.date(2019, 7, 1), datetime.date(2019, 8, 1), datetime.date(2019, 9, 1), datetime.date(2019, 10, 1), datetime.date(2019, 11, 1), datetime.date(2019, 12, 1), datetime.date(2020, 1, 1), datetime.date(2020, 2, 1), datetime.date(2020, 3, 1), datetime.date(2020, 4, 1), datetime.date(2020, 5, 1), datetime.date(2020, 6, 1), datetime.date(2020, 7, 1), datetime.date(2020, 8, 1), datetime.date(2020, 9, 1), datetime.date(2020, 10, 1), datetime.date(2020, 11, 1), datetime.date(2020, 12, 1)])
 list([datetime.date(2012, 10, 1), datetime.date(2012, 11, 1), datetime.date(2012, 12, 1), datetime.date(2013, 1, 1), datetime.date(2013, 2, 1), datetime.date(2013, 3, 1), datetime.date(2013, 4, 1), datetime.date(2013, 5, 1), datetime.date(2013, 6, 1), datetime.date(2013, 7, 1), datetime.date(2013, 8, 1), datetime.date(2013, 9, 1), datetime.date(2013, 10, 1), datetime.date(2013, 11, 1), datetime.date(2013, 12, 1), datetime.date(2014, 1, 1), datetime.date(2014, 2, 1), datetime.date(2014, 3, 1), datetime.date(2014, 4, 1), datetime.date(2014, 5, 1), datetime.date(2014, 6, 1), datetime.date(2014, 7, 1), datetime.date(2014, 8, 1), datetime.date(2014, 9, 1), datetime.date(2014, 10, 1), datetime.date(2014, 11, 1), datetime.date(2014, 12, 1), datetime.date(2015, 1, 1), datetime.date(2015, 2, 1), datetime.date(2015, 3, 1), datetime.date(2015, 4, 1), datetime.date(2015, 5, 1), datetime.date(2015, 6, 1), datetime.date(2015, 7, 1), datetime.date(2015, 8, 1), datetime.date(2015, 9, 1), datetime.date(2015, 10, 1), datetime.date(2015, 11, 1), datetime.date(2015, 12, 1), datetime.date(2016, 1, 1), datetime.date(2016, 2, 1), datetime.date(2016, 3, 1), datetime.date(2016, 4, 1), datetime.date(2016, 5, 1), datetime.date(2016, 6, 1), datetime.date(2016, 7, 1), datetime.date(2016, 8, 1), datetime.date(2016, 9, 1), datetime.date(2016, 10, 1), datetime.date(2016, 11, 1), datetime.date(2016, 12, 1), datetime.date(2017, 1, 1), datetime.date(2017, 2, 1), datetime.date(2017, 3, 1), datetime.date(2017, 4, 1), datetime.date(2017, 5, 1), datetime.date(2017, 6, 1), datetime.date(2017, 7, 1), datetime.date(2017, 8, 1), datetime.date(2017, 9, 1), datetime.date(2017, 10, 1), datetime.date(2017, 11, 1), datetime.date(2017, 12, 1), datetime.date(2018, 1, 1), datetime.date(2018, 2, 1), datetime.date(2018, 3, 1), datetime.date(2018, 4, 1), datetime.date(2018, 5, 1), datetime.date(2018, 6, 1), datetime.date(2018, 7, 1), datetime.date(2018, 8, 1), datetime.date(2018, 9, 1), datetime.date(2018, 10, 1), datetime.date(2018, 11, 1), datetime.date(2018, 12, 1), datetime.date(2019, 1, 1), datetime.date(2019, 2, 1), datetime.date(2019, 3, 1), datetime.date(2019, 4, 1), datetime.date(2019, 5, 1), datetime.date(2019, 6, 1), datetime.date(2019, 7, 1), datetime.date(2019, 8, 1), datetime.date(2019, 9, 1), datetime.date(2019, 10, 1), datetime.date(2019, 11, 1), datetime.date(2019, 12, 1), datetime.date(2020, 1, 1), datetime.date(2020, 2, 1), datetime.date(2020, 3, 1), datetime.date(2020, 4, 1), datetime.date(2020, 5, 1), datetime.date(2020, 6, 1), datetime.date(2020, 7, 1), datetime.date(2020, 8, 1), datetime.date(2020, 9, 1), datetime.date(2020, 10, 1), datetime.date(2020, 11, 1), datetime.date(2020, 12, 1)])
 list([datetime.date(2017, 2, 1), datetime.date(2017, 3, 1), datetime.date(2017, 4, 1), datetime.date(2017, 5, 1), datetime.date(2017, 6, 1), datetime.date(2017, 7, 1), datetime.date(2017, 8, 1), datetime.date(2017, 9, 1), datetime.date(2017, 10, 1), datetime.date(2017, 11, 1), datetime.date(2017, 12, 1), datetime.date(2018, 1, 1), datetime.date(2018, 2, 1), datetime.date(2018, 3, 1), datetime.date(2018, 4, 1), datetime.date(2018, 5, 1), datetime.date(2018, 6, 1), datetime.date(2018, 7, 1), datetime.date(2018, 8, 1), datetime.date(2018, 9, 1), datetime.date(2018, 10, 1), datetime.date(2018, 11, 1), datetime.date(2018, 12, 1), datetime.date(2019, 1, 1), datetime.date(2019, 2, 1), datetime.date(2019, 3, 1), datetime.date(2019, 4, 1), datetime.date(2019, 5, 1), datetime.date(2019, 6, 1), datetime.date(2019, 7, 1), datetime.date(2019, 8, 1), datetime.date(2019, 9, 1), datetime.date(2019, 10, 1), datetime.date(2019, 11, 1), datetime.date(2019, 12, 1), datetime.date(2020, 1, 1), datetime.date(2020, 2, 1), datetime.date(2020, 3, 1), datetime.date(2020, 4, 1), datetime.date(2020, 5, 1), datetime.date(2020, 6, 1), datetime.date(2020, 7, 1), datetime.date(2020, 8, 1), datetime.date(2020, 9, 1), datetime.date(2020, 10, 1), datetime.date(2020, 11, 1), datetime.date(2020, 12, 1)])
 list([datetime.date(2006, 11, 1), datetime.date(2006, 12, 1), datetime.date(2007, 1, 1), datetime.date(2007, 2, 1), datetime.date(2007, 3, 1), datetime.date(2007, 4, 1), datetime.date(2007, 5, 1), datetime.date(2007, 6, 1), datetime.date(2007, 7, 1), datetime.date(2007, 8, 1), datetime.date(2007, 9, 1), datetime.date(2007, 10, 1), datetime.date(2007, 11, 1), datetime.date(2007, 12, 1), datetime.date(2008, 1, 1), datetime.date(2008, 2, 1), datetime.date(2008, 3, 1), datetime.date(2008, 4, 1), datetime.date(2008, 5, 1), datetime.date(2008, 6, 1), datetime.date(2008, 7, 1), datetime.date(2008, 8, 1), datetime.date(2008, 9, 1), datetime.date(2008, 10, 1), datetime.date(2008, 11, 1), datetime.date(2008, 12, 1), datetime.date(2009, 1, 1), datetime.date(2009, 2, 1), datetime.date(2009, 3, 1), datetime.date(2009, 4, 1), datetime.date(2009, 5, 1), datetime.date(2009, 6, 1), datetime.date(2009, 7, 1), datetime.date(2009, 8, 1), datetime.date(2009, 9, 1), datetime.date(2009, 10, 1), datetime.date(2009, 11, 1), datetime.date(2009, 12, 1), datetime.date(2010, 1, 1), datetime.date(2010, 2, 1), datetime.date(2010, 3, 1), datetime.date(2010, 4, 1), datetime.date(2010, 5, 1), datetime.date(2010, 6, 1), datetime.date(2010, 7, 1), datetime.date(2010, 8, 1), datetime.date(2010, 9, 1), datetime.date(2010, 10, 1), datetime.date(2010, 11, 1), datetime.date(2010, 12, 1), datetime.date(2011, 1, 1), datetime.date(2011, 2, 1), datetime.date(2011, 3, 1), datetime.date(2011, 4, 1), datetime.date(2011, 5, 1), datetime.date(2011, 6, 1), datetime.date(2011, 7, 1), datetime.date(2011, 8, 1), datetime.date(2011, 9, 1), datetime.date(2011, 10, 1), datetime.date(2011, 11, 1), datetime.date(2011, 12, 1), datetime.date(2012, 1, 1), datetime.date(2012, 2, 1), datetime.date(2012, 3, 1), datetime.date(2012, 4, 1), datetime.date(2012, 5, 1), datetime.date(2012, 6, 1), datetime.date(2012, 7, 1), datetime.date(2012, 8, 1), datetime.date(2012, 9, 1), datetime.date(2012, 10, 1), datetime.date(2012, 11, 1), datetime.date(2012, 12, 1), datetime.date(2013, 1, 1), datetime.date(2013, 2, 1), datetime.date(2013, 3, 1), datetime.date(2013, 4, 1), datetime.date(2013, 5, 1), datetime.date(2013, 6, 1), datetime.date(2013, 7, 1), datetime.date(2013, 8, 1), datetime.date(2013, 9, 1), datetime.date(2013, 10, 1), datetime.date(2013, 11, 1), datetime.date(2013, 12, 1), datetime.date(2014, 1, 1), datetime.date(2014, 2, 1), datetime.date(2014, 3, 1), datetime.date(2014, 4, 1), datetime.date(2014, 5, 1), datetime.date(2014, 6, 1), datetime.date(2014, 7, 1), datetime.date(2014, 8, 1), datetime.date(2014, 9, 1), datetime.date(2014, 10, 1), datetime.date(2014, 11, 1), datetime.date(2014, 12, 1), datetime.date(2015, 1, 1), datetime.date(2015, 2, 1), datetime.date(2015, 3, 1), datetime.date(2015, 4, 1), datetime.date(2015, 5, 1), datetime.date(2015, 6, 1), datetime.date(2015, 7, 1), datetime.date(2015, 8, 1), datetime.date(2015, 9, 1), datetime.date(2015, 10, 1), datetime.date(2015, 11, 1), datetime.date(2015, 12, 1), datetime.date(2016, 1, 1), datetime.date(2016, 2, 1), datetime.date(2016, 3, 1), datetime.date(2016, 4, 1), datetime.date(2016, 5, 1), datetime.date(2016, 6, 1), datetime.date(2016, 7, 1), datetime.date(2016, 8, 1), datetime.date(2016, 9, 1), datetime.date(2016, 10, 1), datetime.date(2016, 11, 1), datetime.date(2016, 12, 1), datetime.date(2017, 1, 1), datetime.date(2017, 2, 1), datetime.date(2017, 3, 1), datetime.date(2017, 4, 1), datetime.date(2017, 5, 1), datetime.date(2017, 6, 1), datetime.date(2017, 7, 1), datetime.date(2017, 8, 1), datetime.date(2017, 9, 1), datetime.date(2017, 10, 1), datetime.date(2017, 11, 1), datetime.date(2017, 12, 1), datetime.date(2018, 1, 1), datetime.date(2018, 2, 1), datetime.date(2018, 3, 1), datetime.date(2018, 4, 1), datetime.date(2018, 5, 1), datetime.date(2018, 6, 1), datetime.date(2018, 7, 1), datetime.date(2018, 8, 1), datetime.date(2018, 9, 1), datetime.date(2018, 10, 1), datetime.date(2018, 11, 1), datetime.date(2018, 12, 1), datetime.date(2019, 1, 1), datetime.date(2019, 2, 1), datetime.date(2019, 3, 1), datetime.date(2019, 4, 1), datetime.date(2019, 5, 1), datetime.date(2019, 6, 1), datetime.date(2019, 7, 1), datetime.date(2019, 8, 1)])
 list([datetime.date(2020, 2, 1), datetime.date(2020, 3, 1), datetime.date(2020, 4, 1), datetime.date(2020, 5, 1), datetime.date(2020, 6, 1), datetime.date(2020, 7, 1), datetime.date(2020, 8, 1), datetime.date(2020, 9, 1), datetime.date(2020, 10, 1), datetime.date(2020, 11, 1), datetime.date(2020, 12, 1)])
 list([datetime.date(2016, 6, 1), datetime.date(2016, 7, 1), datetime.date(2016, 8, 1), datetime.date(2016, 9, 1), datetime.date(2016, 10, 1), datetime.date(2016, 11, 1), datetime.date(2016, 12, 1), datetime.date(2017, 1, 1), datetime.date(2017, 2, 1), datetime.date(2017, 3, 1), datetime.date(2017, 4, 1), datetime.date(2017, 5, 1), datetime.date(2017, 6, 1), datetime.date(2017, 7, 1), datetime.date(2017, 8, 1), datetime.date(2017, 9, 1), datetime.date(2017, 10, 1), datetime.date(2017, 11, 1), datetime.date(2017, 12, 1), datetime.date(2018, 1, 1), datetime.date(2018, 2, 1), datetime.date(2018, 3, 1), datetime.date(2018, 4, 1), datetime.date(2018, 5, 1), datetime.date(2018, 6, 1), datetime.date(2018, 7, 1), datetime.date(2018, 8, 1), datetime.date(2018, 9, 1), datetime.date(2018, 10, 1), datetime.date(2018, 11, 1), datetime.date(2018, 12, 1), datetime.date(2019, 1, 1), datetime.date(2019, 2, 1), datetime.date(2019, 3, 1), datetime.date(2019, 4, 1), datetime.date(2019, 5, 1), datetime.date(2019, 6, 1), datetime.date(2019, 7, 1), datetime.date(2019, 8, 1), datetime.date(2019, 9, 1), datetime.date(2019, 10, 1), datetime.date(2019, 11, 1), datetime.date(2019, 12, 1), datetime.date(2020, 1, 1), datetime.date(2020, 2, 1), datetime.date(2020, 3, 1), datetime.date(2020, 4, 1), datetime.date(2020, 5, 1), datetime.date(2020, 6, 1), datetime.date(2020, 7, 1), datetime.date(2020, 8, 1), datetime.date(2020, 9, 1), datetime.date(2020, 10, 1), datetime.date(2020, 11, 1), datetime.date(2020, 12, 1)])